

<div style="padding: 5%; min-height:100%" >
    <div class="container">
    <div class="row">
    <!-- collum1 -->
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src="https://vanh1902.github.io/img/about_us/Dung.jpg" class="card-img-top" alt="Hoàng Quang Dũng">
          <div class="card-body">
            <h4 class="semibold mb-3">Hoàng Quang Dũng</h4>
            <p class="mb-4">
             <b> Web design </b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/henryhoang0402" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
    <!-- collum 2-->
      </div>
    <!-- collumn-->
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src="https://vanh1902.github.io/img/about_us/Vanh.jpg" class="card-img-top" alt="Nguyễn Việt Anh">
          <div class="card-body">
            <h4 class="semibold mb-3">Nguyễn Việt Anh</h4>
            <p class="mb-4">
              <b> Web design </b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=100009795181888" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSPbDESG2UNSr2o5Dt1yWaF-cpVy6U-ua1kdj76q424FOtZWuySfg2H3dI9LNCbHQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="auto" height="560px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


