

<div style="padding: 5%; min-height:100%" >
    <div class="container">
    <div class="row">
    <!-- collum1 -->
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src="../img/about_us/Dung.jpg" class="card-img-top" alt="Hoàng Quang Dũng">
          <div class="card-body">
            <h4 class="semibold mb-3">Hoàng Quang Dũng</h4>
            <p class="mb-4">
             <b> Web design </b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/henryhoang0402" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
    <!-- collum 2-->
      </div><div class="col-md-4 mb-5">
        <div class="card">
          <img src="../img/about_us/Nam.jpg" class="card-img-top" alt="Trương Gia Nam">
          <div class="card-body">
            <h4 class="semibold mb-3">Trương Gia Nam</h4>
            <p class="mb-4">
              <b>Web Marketing</b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=100070943290380" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
    <!-- collumn-->
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src="../img/about_us/Vanh.jpg" class="card-img-top" alt="Nguyễn Việt Anh">
          <div class="card-body">
            <h4 class="semibold mb-3">Nguyễn Việt Anh</h4>
            <p class="mb-4">
              <b> Web design </b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=100009795181888" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

<!--Footer-->
<hr>

  <!-- Grid container -->
  <div class="container p-4 ">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-3 mb-md-0">
        <h3 class="text-uppercase mb-0">People who create our web</h3>

        <ul class="list-group">
          <li class="list-group-item" style="font-size: 20PX;">Nguyễn Việt Anh</li>
          <li class="list-group-item" style="font-size: 20PX;">Hoàng Quang Dũng</li>
          <li class="list-group-item" style="font-size: 20PX;">Trương Gia Nam</li>
          
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h3 class="text-uppercase">Email</h3>

        <p style="font-size: 20px;">
          📧 vietanhnguyen1902@gmail.com
        </p>
        <p style="font-size: 20px;">
          📧 hquangdung2@gmail.con
        </p>
        <p style="font-size: 20px;">
          📧 nampaul2805@gmail.com 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h3>Made by</h3>
      <p style="font-size: 20px;"> 🧾 HTML</p>
      <p style="font-size: 20px;"> 🧾 CSS</p>
      <p style="font-size: 20px;"> 🧾 JAVASCRIPT</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Made by:
    <a class="text-dark" href="./support.html">Chill team</a>
  </div>
  <!-- Copyright -->
</footer>
