

<div style="padding: 5%; min-height:100%" >
    <div class="container">
    <div class="row">
    <!-- collum1 -->
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src="../img/about_us/Dung.jpg" class="card-img-top" alt="Hoàng Quang Dũng">
          <div class="card-body">
            <h4 class="semibold mb-3">Hoàng Quang Dũng</h4>
            <p class="mb-4">
             <b> Web design </b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/henryhoang0402" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
    <!-- collum 2-->
      </div><div class="col-md-4 mb-5">
        <div class="card">
          <img src="../img/about_us/Nam.jpg" class="card-img-top" alt="Trương Gia Nam">
          <div class="card-body">
            <h4 class="semibold mb-3">Trương Gia Nam</h4>
            <p class="mb-4">
              <b>Web Marketing</b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=100070943290380" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
    <!-- collumn-->
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src="../img/about_us/Vanh.jpg" class="card-img-top" alt="Nguyễn Việt Anh">
          <div class="card-body">
            <h4 class="semibold mb-3">Nguyễn Việt Anh</h4>
            <p class="mb-4">
              <b> Web design </b>
            </p>
            <!-- do to Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=100009795181888" role="button"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>


