
<div class="pt-2" style="padding-left: 10%; padding-right: 10%;" > 
  <table class="table table; table-hover">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">amount</th>
        <th scope="col">Price</th>
        <th scope="col">Notes</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="product">
      
     
    </tbody>
  </table>
  <button type="button" class="btn btn-success" id="btn-Delivery">Delivery</button>
</div>