<div class="pt-2" style="padding-left: 10%; padding-right: 10%;"> 
  <table class="table table; table-hover">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">amount</th>
        <th scope="col">Price</th>
        <th scope="col">Notes</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Drak coffee</td>
        <td><input type="number" id="quantity" name="quantity" min="1" max="10" ></td>
        <td>100$</td>
        <td>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Ice</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">No ice</label><br>
        </td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Drak coffee</td>
        <td><input type="number" id="quantity" name="quantity" min="1" max="10" ></td>
        <td>100$</td>
        <td>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Ice</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">No ice</label><br>
        </td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Drak coffee</td>
        <td><input type="number" id="quantity" name="quantity" min="1" max="10" ></td>
        <td>100$</td>
        <td>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Ice</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">No ice</label><br>
        </td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" id="btn-Delivery"   >Delivery</button>
</div>


