<div class="pt-2" style="padding-left: 10%; padding-right: 10%;"> 
  <table class="table table; table-hover">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">amount</th>
        <th scope="col">Price</th>
        <th scope="col">Notes</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Drak coffee</td>
        <td><input type="number" id="quantity" name="quantity" min="1" max="10" ></td>
        <td>100$</td>
        <td>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Ice</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">No ice</label><br>
        </td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Drak coffee</td>
        <td><input type="number" id="quantity" name="quantity" min="1" max="10" ></td>
        <td>100$</td>
        <td>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Ice</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">No ice</label><br>
        </td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Drak coffee</td>
        <td><input type="number" id="quantity" name="quantity" min="1" max="10" ></td>
        <td>100$</td>
        <td>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Ice</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">No ice</label><br>
        </td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" id="btn-Delivery"   >Delivery</button>
</div>

<!--Footer-->
<hr>

  <!-- Grid container -->
  <div class="container p-4 ">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-3 mb-md-0">
        <h3 class="text-uppercase mb-0">People who create our web</h3>

        <ul class="list-group">
          <li class="list-group-item" style="font-size: 20PX;">Nguyễn Việt Anh</li>
          <li class="list-group-item" style="font-size: 20PX;">Hoàng Quang Dũng</li>
          <li class="list-group-item" style="font-size: 20PX;">Trương Gia Nam</li>
          
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h3 class="text-uppercase">Email</h3>

        <p style="font-size: 20px;">
          📧 vietanhnguyen1902@gmail.com
        </p>
        <p style="font-size: 20px;">
          📧 hquangdung2@gmail.con
        </p>
        <p style="font-size: 20px;">
          📧 nampaul2805@gmail.com 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h3>Made by</h3>
      <p style="font-size: 20px;"> 🧾 HTML</p>
      <p style="font-size: 20px;"> 🧾 CSS</p>
      <p style="font-size: 20px;"> 🧾 JAVASCRIPT</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Made by:
    <a class="text-dark" href="./support.html">Chill team</a>
  </div>
  <!-- Copyright -->
</footer>
