<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<div style="margin-top: 20px; margin-left: 40%; ">
  <div class="col-md-4 mb-5">
  <div class="card">
    <div class="py-3 w-100" style="
        background-color:#FFC107;
        height: 9rem;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      "></div>
    <div class="position-relative h-100" style="margin-top: -6rem;">
      <div class="w-50 mx-auto position-relative">
        <h1 style="text-align: center; padding-bottom: 20px;">LOGIN</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="text-center">
          <div class="container">
              <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" background-color="black" class="btn btn-primary" style="padding-top: 5px;" id="logInBtn" >Login</button>
          </div>
      </div>

      
      
  </div>
    <div class="card-footer d-flex justify-content-between py-4">
      <a href="#!" class="d-flex align-items-center">
        <i class="mi mi-instagram mi-lg" style="color: #bf0077;"></i>
      </a>
      <a href="#!" class="d-flex align-items-center">
        <i class="mi mi-dribbble mi-lg" style="color: #e3008c;"></i>
      </a>
      <a href="#!" class="d-flex align-items-center">
        <i class="mi mi-vimeo mi-lg" style="color: #0078d7;"></i>
      </a>
      <a href="#!" class="d-flex align-items-center">
        <i class="mi mi-reddit-alien mi-lg" style="color: #ef6950;"></i>
      </a>
<!-- Facebook -->
<a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
><i class="fab fa-facebook-f"></i
></a>
<!-- Google -->
<a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button"
><i class="fab fa-google"></i
></a>
<!-- Instagram -->
<a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
><i class="fab fa-instagram"></i
></a>
<!-- Youtube -->
<a class="btn btn-primary" style="background-color: #ed302f;" href="#!" role="button"
><i class="fab fa-youtube"></i
></a>
<!-- Whatsapp -->
<a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button"
><i class="fab fa-whatsapp"></i
></a>
    </div>   
    
  </div>

</div>
</div>