<!-- vi du: https://getbootstrap.com/docs/5.0/examples/headers/ -->

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <img 
      src="../img/logo.png"
      style="height: 65px;"
      alt=""
      loading="lazy"
      
      />
      <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
    
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">          
        <li><a 
          href="#" class="nav-link px-2 text-white" id="btnHome" 
          style="font-size:25px">Home</a></li>

        <li><a href="#" class="nav-link px-2 text-white" id="btnCategory" style="font-size:25px">Cart</a></li>

        <li><a href="#" class="nav-link px-2 text-white" id="btnAbout" 
          style="font-size:25px"> About us </a></li>
          <li><a href="#" class="nav-link px-2 text-white" id="btnMore" 
            style="font-size:25px">Support</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" id="btnLogIn">LOGIN</button>
        <button type="button" class="btn btn-warning" id="btnSignUp">SIGN UP</button>
      </div>
    </div>
  </div>
</header>
