

<style>
  .background {
    background-image: url("../img/home/edit_again/cafe.png");
    background-size: cover;

}
</style>
<!--Grid row-->

<div class=" pt-4 background" style="padding-left:  40%;">
  <!--Grid column-->
  <div class="col-md-4">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="1-name" class="form-control">
          <label class="form-label" for="form6Example1" style="margin-left: 0px;">First name*</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="2-name" class="form-control">
          <label class="form-label" for="form6Example2" style="margin-left: 0px;">Last name*</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>
      </div>
    </div>

    <!-- Text input -->
    <!-- <div class="form-outline mb-4 ">
      <input type="text" id="form6Example3" class="form-control">
      <label class="form-label" for="form6Example3" style="margin-left: 0px;">Add</label>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 92px;"></div><div class="form-notch-trailing"></div></div></div> -->

    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="address" class="form-control">
      <label class="form-label" for="form6Example4" style="margin-left: 0px;">Address</label>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 52px;"></div><div class="form-notch-trailing"></div></div></div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" class="form-control">
      <label class="form-label" for="form6Example5" style="margin-left: 0px;">Email*</label>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 37.6px;"></div><div class="form-notch-trailing"></div></div></div>

    <!-- Number input -->
    <div class="form-outline mb-4">
      <input type="number" id="phone" class="form-control">
      <label class="form-label" for="form6Example6" style="margin-left: 0px;">Phone*</label>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 41.6px;"></div><div class="form-notch-trailing"></div></div></div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" id="form6Example7" rows="4"></textarea>
      <label class="form-label" for="form6Example7" style="margin-left: 0px;">Additional information</label>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 127.2px;"></div><div class="form-notch-trailing"></div></div></div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked="">
      <label class="form-check-label" for="form6Example8"> You are not robot </label>
    </div>
  
    <p id="checkCase"></p>


    <!-- Submit button -->
    <a style="padding-left: 35%;">
      <input type="button" name="submit" value="submit" placeholder="User Name" id="signup" onclick="profile() ">
    </a>
    
    
  </div>
  <!--Grid column-->
</div>

<!--Grid row-->

<!--Footer-->
<hr>

  <!-- Grid container -->
  <div class="container p-4 ">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-3 mb-md-0">
        <h3 class="text-uppercase mb-0">People who create our web</h3>

        <ul class="list-group">
          <li class="list-group-item" style="font-size: 20PX;">Nguyễn Việt Anh</li>
          <li class="list-group-item" style="font-size: 20PX;">Hoàng Quang Dũng</li>
          <li class="list-group-item" style="font-size: 20PX;">Trương Gia Nam</li>
          
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h3 class="text-uppercase">Email</h3>

        <p style="font-size: 20px;">
          📧 vietanhnguyen1902@gmail.com
        </p>
        <p style="font-size: 20px;">
          📧 hquangdung2@gmail.con
        </p>
        <p style="font-size: 20px;">
          📧 nampaul2805@gmail.com 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h3>Made by</h3>
      <p style="font-size: 20px;"> 🧾 HTML</p>
      <p style="font-size: 20px;"> 🧾 CSS</p>
      <p style="font-size: 20px;"> 🧾 JAVASCRIPT</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Made by:
    <a class="text-dark" href="./support.html">Chill team</a>
  </div>
  <!-- Copyright -->
</footer>

<script src="../profile_js/profile.js"></script>