
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <strong>HOW TO BUY? </strong>
        </button>
      </h2>
      <div
        style="margin-left: 280px; margin-right: 280px;"
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-mdb-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p style="font-size: 25px;"><strong>1.Quick Guide</strong></p>
          <p style="font-size: 20px;">Click to the think you want to buy  ->
            Go to cart on -> 
            Check the product information -> 
            Click delivery -> 
            Put your information in the box -> 
            Click submit and it is finish</p>

          <p style="font-size: 25px;"><strong>2.Detailed instructions</strong></p> 
          <p style="font-size: 20px;">Step 1: First look at the web, chose thing you buy and click the "buy" button</p>
          <img src="../img/sup/buy.png" width="900px" height="550px">
 
          <p style="font-size: 20px;">Step 2: Go to cart (on the navbar) and check the product information</p>         
          <img src="../img/sup/cart.png" width="900px" height="550px">

          <p style="font-size: 20px;">Step 3: Click delivery and put your information in the box</p>
          
          <img src="../img/sup/infor.png" width="900px" height="550px">
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <strong>HOW TO LOGIN?</strong>
        </button>
      </h2>
      <div
        style="margin-left: 280px; margin-right: 280px;"
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-mdb-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p style="font-size: 25px;"><strong>1.Quick Guide</strong></p>
          <p style="font-size: 20px;">Click the login button  ->
            Enter your email and password you have sign up 
            (If you don't have account just go to sign up and create an account) 
          </p>

          <p style="font-size: 25px;"><strong>2.Detailed instructions</strong></p> 
          <p style="font-size: 20px;">Step 1: First look at the Nav-bar, and click the "sign up/login" button</p>
          <img src="../img/sup/login_bt.png" width="900px" height="550px">
 
          <p style="font-size: 20px;">Step 2: Put your Email and password for sign up (if you don't have account) or login (if you have account)</p>         
          <img src="../img/sup/login_FN.png" width="900px" height="550px">

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          <strong>SOME REGULATIONS SHOULD BE KEPT WHEN BUY COFFEE</strong>
        </button>
      </h2>
      <div
        style="margin-left: 280px; margin-right: 280px;"
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-mdb-parent="#accordionExample"
      >
        <div class="accordion-body">
          In the process of shopping and using services at Weasel Coffee, please note the following regulations:
          <p> <strong>Account Rules </strong></p>
        <p>- Be provided with a registered name, a separate password to log in and use in managing transactions at Weasel Coffee.</p>
        <p>- Get support and instructions on using tools and features for account management, transactions and use of Weasel Coffee utility services</p>
        <p>- Enjoy preferential policies offered by Weasel Coffee or third-party partners three offers. These policies will be posted on the Weasel Coffee website or sent directly to you.</p>
          <p><strong>Regulations on ordering information</strong></p>
        <p>- Provide accurate and complete information related to the delivery or terms - conditions of the promotion (if any) that you participate in.</p>
        <p>- Regularly monitor the order status notification updated by Weasel Coffee to get information about your confirmed order status.</p>
          <p><strong>Regulations on cancellation rate</strong></p>
        <p>If your purchase account has an excess cancellation rate, you will not be able to use the COD (cash on delivery) payment method.</p>
          <p><strong>Regulations on product warranty </strong></p>
        <p>You need to check the warranty and maintenance policies for goods when you plan to buy. Weasel Coffee will not be responsible for the warranty of any product. Weasel Coffee only supports to the extent that your product is warranted under the Seller's regime.</p>
          <p><strong>Information privacy policy</strong></p>
        <p>- Do not provide personal details as well as payment details to any third parties via email, phone or other forms of communication. Weasel Coffee is not responsible for any damage or risk the buyer may incur in exchanging this information.</p>
        <p>- Be solely responsible for security, keep all service use activities under your registered name, password and email box. It is responsible for promptly notifying Weasel Coffee of unauthorized use, abuse, breach of security, retention of registered name and unauthorized password in order to take appropriate measures.</p>
        <p>- Timely notify Weasel Coffee of unauthorized use, abuse, security breaches, retention of registered names and passwords that are not genuine for timely handling measures.</p>
          <p><strong>Terms of service use</strong>
        <p>- Do not use any programs, tools or other forms to interfere with the system or change the data structure of the Weasel Coffee E-Commerce Exchange. Any form of spreading, spreading or promoting any activity to interfere with, sabotage or infringe on Weasel Coffee's system is strictly prohibited. Any violations will be handled according to regulations and provisions of law.</p>

        <p>- Respect and strictly implement regulations on protection of personal information. Provide complete, accurate, detailed and truthful information. All acts of fraud, fraud, infringing upon the legitimate rights and interests of others are condemned and must be fully responsible before the law.</p>

        <p>- Not to change, modify, assign, copy, propagate, distribute, provide and create similar tools of the service provided by Weasel Coffee E-commerce trading floor to a third party without permission. consent of the Weasel Coffee E-commerce trading floor.</p>

        <p>- Do not use the services of the Weasel Coffee E-Commerce Exchange for illegal, unreasonable, fraudulent, threatening, illegal information exploration, sabotage, creating and spreading viruses that cause damage to The system, configuration, transmission of information of the Weasel Coffee E-commerce Exchange or use its services for the purpose of speculation, manipulating the market to create virtual orders, fake offers, even for the purpose of trading. Predict market demand. In case of violations, members must be responsible for their violations before the law.</p>

        <p>- Do not act to discredit Weasel Coffee E-commerce trading floor in any form such as causing disunity among members by using a second registered name, through a third party or propagating and disseminating information that is not conducive to the reputation of the Weasel Coffee E-commerce trading floor.</p>
          <p><strong>Terms - conditions of service use </strong>
        <p>- Read and understand the operating regulations, terms and conditions of using Weasel Coffee E-commerce trading floor services and services provided through Weasel Coffee E-commerce trading floor before registering an account and using the service.</p>

        <p>- Read and understand the terms and conditions of using the service when receiving notice of changes or adjustments to the operating regulations, terms and conditions of using this service.</p>

        <p>- Your use of the service or continued use of the service is deemed to be that you have read, understood and agreed to the operating regulations, terms and conditions of using the Weasel Coffee E-commerce trading floor service and the services provided. provided through the Weasel Coffee E-commerce trading floor.</p>
        </div>
      </div>
    </div>
  </div>



  