<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <strong>HOW TO BUY? </strong>
        </button>
      </h2>
      <div
        style="margin-left: 280px; margin-right: 280px;"
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-mdb-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p style="font-size: 25px;"><strong>1.Quick Guide</strong></p>
          <p style="font-size: 20px;">Click to the think you want to buy  ->
            Go to cart on -> 
            Check the product information -> 
            Click delivery -> 
            Put your information in the box -> 
            Click submit and it is finish</p>

          <p style="font-size: 25px;"><strong>2.Detailed instructions</strong></p> 
          <p style="font-size: 20px;">Step 1: First look at the web, chose thing you buy and click the "buy" button</p>
          <img src="../img/sup/buy.png" width="900px" height="550px">
 
          <p style="font-size: 20px;">Step 2: Go to cart (on the navbar) and check the product information</p>         
          <img src="../img/sup/cart.png" width="900px" height="550px">

          <p style="font-size: 20px;">Step 3: Click delivery and put your information in the box</p>
          
          <img src="../img/sup/infor.png" width="900px" height="550px">
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <strong>HOW TO LOGIN?</strong>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-mdb-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p style="font-size: 25px;"><strong>1.Quick Guide</strong></p>
          <p style="font-size: 20px;">Click the login button  ->
            Enter your email and password you have sign up 
            (If you don't have account just go to sign up and create an account) 
          </p>

          <p style="font-size: 25px;"><strong>2.Detailed instructions</strong></p> 
          <p style="font-size: 20px;">Step 1: First look at the Nav-bar, and click the "sign up/login" button</p>
          <img src="../img/sup/login_bt.png" width="900px" height="550px">
 
          <p style="font-size: 20px;">Step 2: Put your Email and password for sign up (if you don't have account) or login (if you have account)</p>         
          <img src="../img/sup/login_FN.png" width="900px" height="550px">

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Accordion Item #3
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-mdb-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or
          overriding our default variables. It's also worth noting that just about any HTML
          can go within the <strong>.accordion-body</strong>, though the transition does
          limit overflow.
        </div>
      </div>
    </div>
  </div>

<!--Footer-->
<hr>

  <!-- Grid container -->
  <div class="container p-4 ">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-3 mb-md-0">
        <h3 class="text-uppercase mb-0">People who create our web</h3>

        <ul class="list-group">
          <li class="list-group-item" style="font-size: 20PX;">Nguyễn Việt Anh</li>
          <li class="list-group-item" style="font-size: 20PX;">Hoàng Quang Dũng</li>
          <li class="list-group-item" style="font-size: 20PX;">Trương Gia Nam</li>
          
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h3 class="text-uppercase">Email</h3>

        <p style="font-size: 20px;">
          📧 vietanhnguyen1902@gmail.com
        </p>
        <p style="font-size: 20px;">
          📧 hquangdung2@gmail.con
        </p>
        <p style="font-size: 20px;">
          📧 nampaul2805@gmail.com 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h3>Made by</h3>
      <p style="font-size: 20px;"> 🧾 HTML</p>
      <p style="font-size: 20px;"> 🧾 CSS</p>
      <p style="font-size: 20px;"> 🧾 JAVASCRIPT</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Made by:
    <a class="text-dark" href="./support.html">Chill team</a>
  </div>
  <!-- Copyright -->
</footer>



  